/* Common styles */
html{
    scroll-behavior: smooth;
}
ul,li{
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}
header,#duration{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
/* Header */
header {
    background-image: linear-gradient(to right, rgba(189, 118, 248, 0.4), rgba(189, 118, 248, 0.4)), url(../imgs/bg1.png);
    height: 90vh;
}

h1 {
    font-size: 4.6rem;
}
.main-content{
    height: 77%;
}
.main-content p {
    font-size: 1.9rem;
}

.open-bars,
.close-icon span,.detail h3 {
    cursor: pointer;
}
.nav-content {
    height: 60vh;
}

nav {
    font-size: calc(1.1rem + .9vw);
    width: 0%;
}

nav>* {
    margin-bottom: 15px;
    padding: 10px;
}

.open-bars span,
.close-icon span,.contact-media-list span
{
    transition: color 0.5s;
}

nav a:hover,
.close-icon:hover span,
.open-bars:hover span {
    color: rgb(189, 118, 248);
}

/* details */
.detail h3 {
    background-color: rgb(189, 118, 248);
    padding: 10px 0;
}

.detail p {
    background-color: #CCC;
    padding: 10px 0;
    display: none;
}

@media (max-width: 991.98px) {
    .detail-content {
        width: 70% !important;
    }
}
@media (max-width: 575.98px) {

    .detail-content {
        width: 90% !important;
    }
}
/* duration */
#duration{
    background-image: linear-gradient(to right, rgba(189, 118, 248, 0.4), rgba(189, 118, 248, 0.4)), url(../imgs/invitation.jpg);
    padding: 80px 0;
}
/* Contact */
.contact-media-list li:hover,.btn-style {
    background-color: rgb(189, 118, 248);
}
.contact-media-list li:hover span{
    color: #000;
}
.contact p, .contact span, .contact a{
    color: #777;
}
form >*{
       margin-bottom: 20px;
 
}
.form-control{
    border-radius: 0;
}
.form-control:focus{
    border-color: rgb(189, 118, 248);;
    box-shadow: 0 0 0 0.25rem rgba(189, 118, 248, 0.4)
}
textarea{
    resize: none;
    min-height: 120px !important;
}
.btn-style{
    border: 0;
}
.num{
    background-color: rgb(189, 118, 248);
    font-weight: 700;
}
